/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * helvetica-neue-lt-pro:
 *   - http://typekit.com/eulas/0000000000000000775ad3aa
 *   - http://typekit.com/eulas/0000000000000000775ad3ab
 *   - http://typekit.com/eulas/0000000000000000775ad3b2
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2025-07-25 04:58:28 UTC"}*/

@import url("../p.typekit.net/p775a.css?s=1&amp;k=lig7ycz&amp;ht=tk&amp;f=60801.60802.60808&amp;a=286521934&amp;app=typekit&amp;e=css");

@font-face {
font-family:"helvetica-neue-lt-pro";
src:url("af/69bcfb/0000000000000000775ad3aa/31/le003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff2"),url("af/69bcfb/0000000000000000775ad3aa/31/de003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("woff"),url("af/69bcfb/0000000000000000775ad3aa/31/ae003?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n5&amp;v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"helvetica-neue-lt-pro";
src:url("af/45d708/0000000000000000775ad3ab/31/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/45d708/0000000000000000775ad3ab/31/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/45d708/0000000000000000775ad3ab/31/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"helvetica-neue-lt-pro";
src:url("af/6240b8/0000000000000000775ad3b2/31/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/6240b8/0000000000000000775ad3b2/31/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/6240b8/0000000000000000775ad3b2/31/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-helvetica-neue-lt-pro { font-family: "helvetica-neue-lt-pro",sans-serif; }


/* Permanently remove and hide Made in Webflow badge */
.w-webflow-badge, .w-webflow-badge * {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
  width: 0 !important;
  height: 0 !important;
  position: absolute !important;
  left: -9999px !important;
  top: -9999px !important;
}
